div, span, p, ul, li, a {
    padding: 0;
    margin: 0;
}

#flashMessage {
    background-color: green;
    padding: 0.5%;
}

.admin_menu_container {
    padding: 2% 0;
}

.admin_menu_container li {
    list-style-type: none;
    float: left;
    margin: 0 1%;
}

.items_container td, .items_container th {
    padding-right: 10px;
}

#skill_title_container th, #skill_title_container td {
    padding-right: 10px;
}

#resume_table {
    width: 100%;
}

#resume_table tr:hover {
    background-color: #eee;
}