body {
	margin:0;
	color:#238484;
	font:18px/37px "museo_sans_cyrl500", Arial, Helvetica, sans-serif;
	background:#e9e9e9;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: none;
}
img {border-style:none;}
a {
	text-decoration:underline;
	color:#238484;
}
a:hover {text-decoration:none;}
a:active {background:none;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
figure {
	margin:0;
	padding:0;
}
header,
footer,
article,
section,
hgroup,
nav,
figure{display:block;}
* {max-height: 10000px;}
input [type="email"], input [type="tel"], input[type="search"], input[type="text"], input[type="password"], input[type="file"], input[type="submit"], textarea{-webkit-appearance:none;}
@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl_1-webfont.eot');
    src: url('../fonts/museosanscyrl_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museosanscyrl_1-webfont.woff2') format('woff2'),
    url('../fonts/museosanscyrl_1-webfont.woff') format('woff'),
    url('../fonts/museosanscyrl_1-webfont.ttf') format('truetype'),
    url('../fonts/museosanscyrl_1-webfont.svg#museo_sans_cyrl500') format('svg');
    font-weight: normal;
    font-style: normal;
}
.jcf-hidden {
    display: block !important;
    position: absolute !important;
    left: -9999px !important;
}
.select-area {
    border: 1px solid #fff;
    position: relative;
    cursor: default;
    float: left;
    background: #fff;
    font-size: 18px;
    line-height: 23px;
    height: 51px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    color: #909b9f;
    font-family: "museo_sans_cyrl500", Arial, Helvetica, sans-serif;
}
.select-area .center {
    float: left;
    width: 100%;
    padding: 13px 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.select-area .select-opener {
    position: absolute;
    top: 50%;
    right: 23px;
    width: 12px;
    height: 8px;
    margin: -4px 0 0;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) no-repeat;
}
.select-options {
    white-space: nowrap;
    position: absolute;
    overflow: hidden;
    background: #fff;
}
.select-options .drop-holder {
    border: 1px solid #fff;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    height: 1%;
}
.select-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.select-options ul li {
    width: 100%;
    float: left;
}
.select-options ul a {
    text-decoration: none;
    padding: 13px 21px;
    display: block;
    cursor: default;
    color: #909b9f;
    height: 1%;
}
.select-options .item-selected a,
.select-options a:hover {
    text-decoration: none;
    background: #909b9f;
    color: #fff;
}
#wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 958px;
    padding: 30px 10px;
}
.logo {
    float: right;
    margin: 0 20px 0 0;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/logo.png) no-repeat;
    width: 185px;
    height: 57px;
}
.logo a {
    display: block;
    height: 100%;
}
section {
    clear: both;
    overflow: hidden;
    width: 100%;
    padding: 0 0 40px;
}
form {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.form-holder {
    overflow: hidden;
}
textarea,
input[type="text"] {
    float: left;
    background: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 23px;
    height: 51px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    padding: 13px 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: #909b9f;
    font-family: "museo_sans_cyrl500", Arial, Helvetica, sans-serif;
}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
    color: #909b9f;
}
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder {
    color: #909b9f;
    opacity: 1;
}
.error textarea,
.error .select-area,
.error input[type="text"] {
    border-color: #ff4800;
}
textarea {
    overflow: auto;
    height: 103px;
    resize: none;
}
.input-holder {
    overflow: hidden;
    position: relative;
}
.row {
    padding: 0 0 29px 0;
    float: left;
    clear: both;
    width: 518px;
}
.row > .col {
    float: left;
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 28px 0 0;
    position: relative;
}
.row > .col.large {
    width: 100%;
}
.row > .col > .text {
    position: absolute;
    left: 100%;
    top: 50%;
    margin: -9px 0 0;
    font-size: 15px;
    line-height: 18px;
    color: #909b9f;
    font-style: italic;
    white-space: nowrap;
}
.error .text {
    color: #ff4800 !important;
}
.col-holder {
    overflow: hidden;
    margin: 0 -14px 0 0;
}
.col-holder > .col {
    width: 41%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 14px 0 0;
}
.col-holder > .col:first-child {
    width: 59%;
}
.verticav-fields .decor {
    float: left;
    padding: 6px 5px 0;
    margin: 0 -25px;
    color: #97a2a5;
}
.ta-row {
    width: 778px;
    padding: 0 0 41px;
}
.center-row {
    overflow: hidden;
    width: 60%;
    clear: both;
    text-align: center;
    padding: 26px 0 0;
    margin: 0 auto;
}
.options-list {
    padding: 7px;
    list-style: none;
    overflow: hidden;
    float: left;
    background: #f3f3f3;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 0 13px;
    min-width: 50%;
    color: #fff;
}
.center-row .options-list {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    min-width: 217px;
    margin: 0 0 13px;
    float: none;
}

.options-list ul {
    overflow: hidden;
    padding: 0;
    list-style: none;
    line-height: 25px;
    margin: 0 -9px -15px 0;
}
.options-list li {
    float: left;
    margin: 0 9px 15px 0;
    position: relative;
    background: #6bcbca;
    padding: 6px 42px 6px 13px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.options-list a {
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 9px;
    right: 12px;
    width: 20px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
}
.ui-icon-close,
.options-list a .text-icon {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
    height: 19px;
    background: url(../images/sprite.png) -52px 0 no-repeat;
}
.ui-icon-close:hover,
.options-list a:hover .text-icon {
    background-position: -22px 0;
}
.skill_tag_holder,
.choise-list {
    margin: 0;
    padding: 0 0 34px 23px;
    list-style: none;
    clear: both;
    overflow: hidden;
}
.center-row .skill_tag_holder,
.center-row .choise-list {
    padding: 0;
}
.dynamic_tags_holder > span,
.choise-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}
.dynamic_tags_holder > span a,
.choise-list a {
    text-decoration: none;
}
.dynamic_tags_holder > span a:hover,
.choise-list a:hover {
    text-decoration: underline;
}
h2 {
    position: relative;
    margin: 0 0 32px;
    text-transform: uppercase;
    padding: 0 0 0 40px;
    font-size: 32px;
    line-height: 40px;
    color: #f7941c;
    font-weight: 600;
}
h3 {
    position: relative;
    margin: -9px 0 22px 41px;
    text-transform: uppercase;
    padding: 0 0 0 18px;
    font-size: 22px;
    line-height: 30px;
    color: #778185;
    font-weight: 600;
}
h3:after {
    clear: both;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 9px;
    height: 9px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #778185;
    margin: -5px 0 0;
}
.profile:after {
    clear: both;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    background: url(../images/ico-profile.png) 0 0 no-repeat;
    width: 18px;
    height: 24px;
}
.skills:after {
    clear: both;
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: url(../images/ico-skills.png) 0 0 no-repeat;
    width: 26px;
    height: 25px;
}
.experience:after {
    clear: both;
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    background: url(../images/ico-experience.png) 0 0 no-repeat;
    width: 20px;
    height: 24px;
}
.qualities:after {
    clear: both;
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    background: url(../images/ico-qualities.png) 0 0 no-repeat;
    width: 23px;
    height: 25px;
}
.education:after {
    clear: both;
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    background: url(../images/ico-education.png) 0 0 no-repeat;
    width: 25px;
    height: 15px;
}
.text-box {
    overflow: hidden;
    padding: 0 0 0 25px;
    clear: both;
}
.text-box p {
    margin: 0;
}
.add-project-link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 50px 0 0;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    color: #f7941c;
    text-decoration: none;
    margin: 27px 0 58px 22px;
}
.add-project-link:hover {
    text-decoration: underline;
}
.add-project-link:after {
    clear: both;
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    background: url(../images/sprite.png) -74px 0 no-repeat;
    width: 38px;
    height: 38px;
}
.add-project-link:hover:after {
    background-position: -114px 0;
}
.row-columns {
    overflow: hidden;
    padding: 0 0 29px;
    margin: 0 -78px 0 0;
}
.row-columns .col {
    float: left;
    width: 25%;
    padding: 0 28px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.row-columns .add {
    background: url(../images/sprite.png) -74px 0 no-repeat;
    width: 38px;
    height: 38px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    margin: 7px 0 0 -15px;
}
.row-columns .add:hover {
    background-position: -114px 0;
}
.btn-row {
    float: left;
    width: 100%;
    padding: 8px 0 0;
}
.btn-row .holder {
    float: left;
    width: 100%;
    padding: 0 0 17px;
}
.btn-row input {
    float: left;
    width: 200px;
    height: 53px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 53px;
    font-size: 22px;
    font-family: "museo_sans_cyrl500", Arial, Helvetica, sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #fea90e;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYTkwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYzg1MGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fea90e 0%, #fc850f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fea90e), color-stop(100%,#fc850f));
    background: -webkit-linear-gradient(top,  #fea90e 0%,#fc850f 100%);
    background: -o-linear-gradient(top,  #fea90e 0%,#fc850f 100%);
    background: -ms-linear-gradient(top,  #fea90e 0%,#fc850f 100%);
    background: linear-gradient(to bottom,  #fea90e 0%,#fc850f 100%);
    -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
    border: none;
    color: #fff;
}
.btn-row input::-moz-focus-inner {
    padding: 0;
    border: none;
}
.btn-row input:hover {
    cursor: pointer;
}
.btn-row p {
    clear: both;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #909b9f;
    font-style: italic;
    padding: 0 0 0 24px;
}
footer {
    overflow: hidden;
    text-align: right;
    font-size: 17px;
    line-height: 20px;
    color: #040404;
    clear: both;
    padding: 54px 0 0;
}
footer p {
    margin: 0;
}
footer a {
    color: #040404;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}
footer a .red {
    color: #f00;
}
.popup {
    overflow: hidden;
    position: absolute;
    width: 400px;
    left: 50%;
    top: 40px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #f3f3f3;
    margin: 0 0 0 -205px;
    text-align: center;
    font-size: 17px;
    line-height: 21px;
    color: #778185;
    padding: 111px 5px 193px;
}
.popup .close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 20px;
    height: 19px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/sprite.png) -22px 0 no-repeat;
    text-align: left;
}
.popup figure {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 23px;
}
.popup figure img {
    display: block;
}
.popup p {
    margin: 0;
}
.popup .bottom-text {
    position: absolute;
    bottom: 23px;
    left: 5px;
    right: 5px;
    font-size: 15px;
}
.popup .bottom-text a {
    color: #778185;
    text-decoration: none;
}
.popup .bottom-text a .red {
    color: #f00;
}


@media only screen and (max-width: 900px) {
    .row > .col > .text {
        display: none;
    }
    .row {
        float: none;
        overflow: hidden;
        padding: 0 0 15px;
    }
    .ta-row,
    .row {
        width: auto;
    }
    .row,
    .row-columns {
        margin: 0 -28px 0 0;
    }
}
@media only screen and (max-width: 600px) {
    .text-box,
    textarea, input[type="text"],
    body {
        font-size: 14px;
    }
    .text-box {
        line-height: 18px;
    }
    .logo {
        float: none;
        margin: 0 auto 30px;
    }
    footer {
        text-align: center;
    }
    .choise-list {
        font-size: 12px;
        line-height: 16px;
    }
    .center-row {
        width: 100%;
    }
    .select-area .center,
    textarea, input[type="text"] {
        padding: 3px 2px;
        line-height: 18px;
        font-size: 14px;
    }
    .select-area,
    input[type="text"] {
        height: 26px;
    }
    .select-area .select-opener {
        right: 10px;
    }
    .verticav-fields .decor {
        padding: 0 5px;
        margin: 0 -22px 0;
        line-height: 18px;
    }
    form {
        overflow: visible;
    }
    form:after {
        clear: both;
        content: "";
        display: block;
    }
    .row-columns {
        overflow: visible;
        clear: both;
        margin: 0 -10px 0 0;
    }
    .row-columns:after {
        clear: both;
        content: "";
        display: block;
    }
    .row-columns .col {
        padding: 0 10px 0 0;
    }
    .row-columns .add {
        margin: -7px 0 0 0;
    }
    h2 {
        font-size: 18px;
        padding-left: 30px;
    }
    h3 {
        font-size: 18px;
        margin-left: 0;
    }
    .profile:after {
        top: 7px;
    }
    .skills:after {
        top: 4px;
    }
    .experience:after {
        top: 6px;
    }
    .education:after {
        top: 13px;
    }
    .btn-row input {
        height: 40px;
        line-height: 40px;
        width: 100%;
    }
    .popup {
        margin: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}