ul.tagit li.tagit-choice {
    background: #6bcbca none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    margin: 0 9px 15px 0;
    padding: 6px 42px 6px 13px;
    position: relative;
}

ul.tagit {
    border-color: #fff;
    border-style: none;
    border-width: 0;
    min-height: 52px;
}

li.tagit-new {
    height: 42px;
    width: 0;
    display: none !important;
}

.hidden {
    display: none !important;
}

#available_profile_tags {
    clear: both;
}

.visible_tags {
    clear: both;
}

.visible_tags a {
    text-decoration: none;
}

.visible_tags a:hover {
    text-decoration: underline;
}

a.tagit-close {
    padding-right: 10px;
}

.ui-icon-close {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    width: 20px;
    height: 19px;
    background: url(../images/sprite.png) -52px 0 no-repeat
}

.skill_tag_holder {
    clear: both;
}

section div h3 {
    clear: both;
}

.available_responsibilities_tags {
    clear: both;
}

.qualities_box {
    clear: both;
}

.rowly_tag_item {
    display:block;
}

.rowly_tag_item {
    display: block;
    padding: 0 0 0 28px;
}

.qualities_box {
    padding: 0 0 0 23px;
}
.qualities_box a {
    display: inline-block;
    margin: 0 5px;
    vertical-align: top;
}

.center-row .speciality_selector {
    display: inline-block;
    verticat-align: top;
    margin: 0 5px;
}

.available_responsibilities_tags .more_tags, #available_profile_tags .more_tags {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 28px;
}
.skill_tag_holder .skill_more_tags {
    margin: 0 5px;
}