div, ul, p, a, li, span {
    margin: 0;
    padding: 0;
}

.resume_section {

}

.resume_section_separator {
    height: 0.5cm;
}

.skill_label {
    color: green;
}

.profile_tag_label {
    padding-left: 0.5cm;
}

#send_resume_link {
    margin-top: 1cm;
    font-size:  20px;
}

.sub_section_result {
    list-style-type: square;
    color: #2ca02c;
    font-size: 150%;
    margin-left: 0.3cm;
}

.sub_section_result h3 {
    color: #000;
}

.profile_tag_item {
    list-style-type: none;
}

.company_result {
    margin: 0.5cm 0 0.3cm 0;
}

#resume_name {
    color: #5e5e5e;
    font-size: 1.5em;
}

.resume_title {
    font-size: 1.5em;
    font-weight: bold;
}

.hr {
    display: block;
    height: 3px;
    border: 0;
    background-color: #6E6E6E;
    margin: 1em 0;
    padding: 0;
}

.footer_row {
    text-align: right;
}

.footer_general_text {
    font-weight: bold;
}

.footer_special {
    font-weight: bold;
    color: red;
}